html,
body {
    height: 100%;
    background-color: #DB9102;
    color: #0243A6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overscroll-behavior-y: none;
    overflow: hidden;
}